<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         cacheResult="false"
         convertDeprecationsToExceptions="true"
         failOnWarning="true"
         failOnRisky="true">
    <testsuites>
        <testsuite name="unit">
            <directory>tests/Archive</directory>
            <directory>tests/SearchReplace</directory>
            <directory>tests/Plugin</directory>
            <directory>tests/Upload</directory>
            <directory>tests/Job</directory>
            <directory>tests/Export</directory>
            <exclude>tests/Export/Database/DatabaseDumperTest.php</exclude>
            <exclude>tests/Export/ExportJobTest.php</exclude>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>
</phpunit>
